@font-face {
  font-family: "monsterant";
  src: url("../assets/fonts/Montserrat-Regular.ttf");
}
body {
  font-family: "monsterant";
  background-color: var(--button-background-color);
  transition: 300ms;
}
.main-container {
  display: flex;
  max-width: 1615px;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
aside {
  width: 153px;
  background: var(--asideColor);
  border-right: 3px solid var(--borderBackgroundColor);
  display: flex;
  align-items: center;
  flex-direction: column;
}
aside .logo-container {
  width: 74px;
  height: 39px;
  margin-top: 51px;
  margin-bottom: 203px;
}
.logo-container img {
  width: 80px;
  height: 80px;
  transition: 500ms;
}
.logo-container img:hover {
  scale: 1.1;
}
aside ul {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 63px;
}
.customColor path {
  fill: var(--asideSvgColor);
}
.homeButtons {
  width: 57px;
  height: 57px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 18px;
  transition: 500ms;
  cursor: pointer;
}
#themeToggle img {
  width: 25px;
  height: 25px;
}
.homeButtons:hover {
  background: var(--accessoriesDivBackgroundColor);
  scale: 1.1;
  box-shadow: var(--buttonHoverBoxShadow);
}
/*  */
.second_main_container {
  background: var(--secondMainContainerColor);
  width: 1489px;
}
header {
  max-width: 1489px;
  height: 139px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 28px 0px 39px;
}
.Search-main-container,
.message-writing-place {
  position: relative;
  /* default საძიებო ველის აიქონები გავაქრე */
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }
}
.Search-main-container input {
  width: 315px;
  height: 56px;
  border-radius: 25px;
  border: unset;
  outline: none;
  background-color: var(--inputBackgroundColor);
  padding: 20px 64px;
  color: var(--whiteColor);
  transition: 500ms;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}
.Search-main-container input:focus {
  box-shadow: var(--buttonHoverBoxShadow);
}
.Search-main-container .search-icon path {
  fill: var(--asideSvgColor);
}
.Search-main-container .search-icon {
  position: absolute;
  top: 19px;
  left: 20px;
}
.Search-main-container .x-icon {
  width: 19px;
  height: 19px;
  position: absolute;
  top: 19px;
  left: 20px;
  visibility: hidden;
  opacity: 0;
  rotate: 90deg;
  cursor: pointer;
}
input:focus,
input:not(:placeholder-shown) {
  width: 491px;
}
.Search-main-container:has(input:placeholder-shown) .search-icon {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.Search-main-container:has(input:not(placeholder-shown)) .search-icon {
  opacity: 0;
  visibility: hidden;
  rotate: 0deg;
}
.Search-main-container:has(input:not(:placeholder-shown)) .x-icon {
  visibility: visible;
  opacity: 1;
  rotate: 0deg;
}
.profileHelper {
  display: flex;
  gap: 38px;
  align-items: center;
  justify-content: center;
}
.profileHelper button {
  all: unset;
  background-color: var(--button-background-color);
  width: 57px;
  height: 57px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  cursor: pointer;
  transition: 500ms;
}
.profileHelper .profile {
  width: 65px;
  height: 65px;
  border-radius: 50px;
  background-color: var(--button-background-color);
}
.profileHelper .profile img {
  width: 60px;
  height: 60px;
}
main {
  display: grid;
  grid-template-columns: 944px 424px;
  grid-template-rows: 423px px 253px;
  padding-left: 34px;
}
/*  */
.embla {
  border-radius: 41px;
  overflow: hidden;
}
.embla__container {
  height: 387px;
  display: flex;
  flex: 0 0 100%;
  min-width: 0;
}
.embla__slide {
  display: flex;
}
.animeAdvertaisment {
  transition: 300ms;
  margin-right: 20px;
  width: 944px;
  height: 387px;
  background: var(--animeAdsColor);
  border-radius: 41px;
  border: 1px solid #ffffff20;
  grid-area: 1 / 1 / 2 / 2;
  position: relative;
}
.AnimeNamePlayBootom {
  width: 294px;
  height: 203px;
  margin: 149px 0px 35px 48px;
}
.AnimeNamePlayBootom {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.animeAdvertaisment h2 {
  font-size: 36px;
  color: var(--whiteColor);
}
.animeAdvertaisment .WatchButtom button {
  all: unset;
  width: 114px;
  height: 57px;
  background: var(--accessoriesDivBackgroundColor);
  border-radius: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--whiteColor);
  font-size: 14px;
  cursor: pointer;
  transition: 500ms;
}
.animeAdvertaisment .WatchButtom button:hover {
  box-shadow: var(--buttonHoverBoxShadow);
}
.animeAdvertaisment .WatchButtom {
  width: 241px;
  height: 63px;
  background-color: var(--watchButtonColor);
  display: flex;
  justify-content: end;
  align-items: center;
  border-radius: 21px;
  border: 1px solid var(--borderBackgroundColor);
  padding-right: 3px;
}
.animeAdvertaisment img {
  position: absolute;
  left: 380px;
  bottom: -10px;
}
.WatchButtom p {
  margin-right: 21px;
  font-size: 14px;
  color: var(--watchButtonColorParagraph);
}
.soloLeveling {
  width: 680px;
  height: 438px;
  position: absolute;
  top: -52px;
}
.animeAdvertaisment .onePiece {
  width: 490px;
  height: 427px;
  position: absolute;
  top: -10px;
  margin-left: 60px;
}
.comunity {
  width: 424px;
  height: 1059px;
  grid-area: 1 / 2 / 4 / 3;
  margin-left: 55px;
  background: var(--comunityBoard);
  border-radius: 42px;
  border: 1px solid var(--borderBackgroundColor);
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
.social-title {
  margin: 39px 0px 45px 48px;
  font-size: 22px;
  color: var(--socialTitleText);
}
.comunity .social {
  width: 343px;
  height: 113px;
  background: var(--lastAnimeBoard);
  border-radius: 33px;
  margin-bottom: 65px;
  margin: 0px 0px 65px 40px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  justify-content: space-between;
}
.LastAnime {
  font-size: 14px;
  color: var(--socialTitleText);
  margin-bottom: 2px;
}
.social .animeName {
  font-size: 18px;
  color: var(--whiteColor);
}
.social .yourAnime {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 28px;
}
.comunity .watchAnime {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 17px;
  color: var(--lastAnimeBoardButton);
  margin-right: 31px;
}
.comunity .social .ContinueWatching {
  width: 51px;
  height: 51px;
  border-radius: 50px;
  border: 2px solid var(--lastAnimeBoardButton);
  background-color: var(--ContinueWatchingButtonColor);
  transition: 300ms;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.comunity .social .ContinueWatching:hover {
  background-color: var(--ContinueWatchingButtonColorHover);
}
.comunity .online-friend {
  width: 217px;
  height: 230px;
  margin-bottom: 53px;
}
.online-friend .Library-title-and-arrow .Library-title {
  font-size: 14px;
  margin-left: 45px;
}
.anime-name span {
  color: var(--lastAnimeBoardButton);
  font-size: 11px;
}
.anime-name .whoRecomendedForYou {
  color: var(--yellowButtonColor);
}
.anime-name .nameRecomender {
  color: var(--redButtonColor);
  cursor: default;
}
.comunity .friend-rec {
  width: 350px;
  height: 260px;
  margin-bottom: 47px;
}
.friend-rec .online-friend .library .anime-img-name {
  gap: 30px;
  margin-top: 40px;
}
.friend-rec .watchButton {
  border: 1px solid var(--redButtonColor);
  width: 70px;
  height: 40px;
  margin-left: 50px;
  color: var(--redButtonColor);
}
.online-friend .watchButton:hover {
  background-color: var(--grayButtonColor);
  scale: 1.1;
}
.online-friend .joinButton {
  border: 1px solid var(--yellowButtonColor);
  width: 70px;
  height: 40px;
  margin-left: 50px;
  color: var(--yellowButtonColor);
}
.online-friend .joinButton:hover {
  background-color: var(--ContinueWatchingButtonColorHover);
  scale: 1.1;
}
.comunity .message {
  display: flex;
  background: var(--messageBackgroundColor);
  width: 424px;
  height: 192px;
  border-radius: 42px;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
.message-writing-place input {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 423px;
  height: 91px;
  border-radius: 32px;
  border: unset;
  outline: unset;
  background: var(--messageInputColor);
  color: var(--whiteColor);
  padding: 18px 93px 15px 52px;
}

.your-party {
  display: flex;
  justify-content: space-between;
  width: 344px;
  height: 43px;
  margin: 35px 0px 0px 39px;
}
.your-party-two-paragraph .yourParty {
  font-size: 14px;
  color: var(--socialTitleText);
  margin-bottom: 9px;
}
.your-party .your-party-two-paragraph .foody {
  color: var(--whiteColor);
  font-size: 14px;
}
.muteAndCallEnd {
  display: flex;
  align-items: center;
}
.microfoneMute {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}
.callEnd {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  width: 50px;
  height: 50px;
}
.microfoneMute:hover {
  background-color: var(--yellowButtonColor);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}
.callEnd:hover {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  background-color: var(--redButtonColor);
  margin-left: 10px;
}
.message-writing-place .sendButton {
  border: none;
  background: var(--accessoriesDivBackgroundColor);
  transition: 300ms;
  cursor: pointer;
  width: 57px;
  height: 57px;
  border-radius: 50px;
  position: absolute;
  left: 333px;
  top: 18px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.message-writing-place .sendButton:hover {
  scale: 1.1;
  box-shadow: var(--buttonHoverBoxShadow);
}
.message-writing-place img {
  position: absolute;
  left: 349px;
  top: 37px;
}
.mostPopoularAnime {
  max-width: 944px;
  height: 290px;
  grid-area: 2 / 1 / 3 / 2;
  margin-top: 40px;
}
/*  */
.popularAnimeButton {
  display: flex;
  justify-content: space-between;
  height: 60px;
}
.popularAnimeButton button {
  background-color: var(--button-background-color);
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
}
.popularAnimeButton #prev .arrowSvgColor {
  transform: rotate(180deg);
}
.arrowSvgColor path {
  fill: var(--arrowColor);
}
.popularAnimeButton #next {
  margin-left: 10px;
}
.popularAnimeButton #next:hover {
  background-color: var(--grayButtonHover);
}
.popularAnimeButton #prev:hover {
  background-color: var(--grayButtonHover);
}
/*  */
.animeList {
  display: flex;
  gap: 23px;
  overflow: hidden;
  width: 953px;
}
.mostPopoularAnime h2 {
  width: 223px;
  height: 27px;
  font-size: 22px;
  color: var(--whiteColor);
}
.mostPopoularAnime h3 {
  width: 217px;
  height: 22px;
  color: var(--whiteColor);
  font-size: 18px;
  margin-top: 24px;
  margin-left: 19px;
}
.mostPopoularAnime p {
  width: 184px;
  height: 17px;
  color: var(--mostPopularAnimeParagraph);
  margin-top: 8px;
  margin-left: 19px;
}
.mainAnimeListContainer .embla__container {
  gap: 22px;
}
.animeListStyle {
  width: 296px;
  height: 260px;
  border: 2px solid var(--borderBackgroundColor);
  flex-direction: column;
  border-radius: 44px;
  cursor: pointer;
}

.animeListStyle:hover {
  background: var(--animeListStyleHover);
}
.imgFrame img {
  width: 296px;
  height: 164px;
}
.accessoriesLibrary {
  max-width: 944px;
  height: 253px;
  grid-area: 3 / 1 / 4 / 2;
  display: flex;
  gap: 28px;
  margin-top: 90px;
}
.accessories {
  width: 300px;
  height: 253px;
  background: var(--libraryDivBackgroundColor);
  border-radius: 46px;
  position: relative;
  border: 1px solid var(--borderBackgroundColor);
}
.accessories h2 {
  color: var(--socialTitleText);
  font-size: 22px;
}
.accessories .onlineshopadds {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.onlineshop {
  width: 220px;
  height: 19px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 17px auto;
}
.libraryTwo {
  width: 623px;
  height: 253px;
  background: var(--libraryDivBackgroundColor);
  border-radius: 46px;
  border: 1px solid var(--borderBackgroundColor);
}
.library .Library-title-and-arrow {
  display: flex;
  width: 570px;
  height: 27px;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}
.library .Library-title {
  margin: 25px 0px 22px 37px;
  color: var(--socialTitleText);
  font-size: 22px;
}
.union-container {
  display: flex;
  width: 529px;
  justify-content: space-between;
  align-items: center;
}

.union-container button {
  all: unset;
  width: 105px;
  height: 35px;
  border: 1px solid var(--redButtonColor);
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--redButtonColor);
  cursor: pointer;
  transition: 300ms;
}
.union-container .red-button:hover {
  background-color: var(--grayButtonColor);
  scale: 1.1;
}
.union-container .yellow-button {
  border: 1px solid var(--yellowButtonColor);
  color: var(--yellowButtonColor);
}
.union-container .yellow-button:hover {
  background-color: var(--yellowButtonHover);
  scale: 1.1;
}
.union-container .gray-button {
  border: 1px solid var(--socialTitleText);
  color: var(--socialTitleText);
}
.union-container .gray-button:hover {
  background-color: var(--yellowButtonHover);
  scale: 1.1;
}
.library .anime-name {
  display: flex;
  flex-direction: column;
  width: 150px;
}
.library .anime-img-name {
  display: flex;
  flex-direction: column;
  margin: 22px 0px 0px 45px;
  gap: 18px;
}
.library .anime-img-name img {
  margin-right: 26px;
  width: 43px;
  height: 43px;
}
.library .anime-img-name-container {
  display: flex;
  align-items: center;
}
svg path {
  fill: var(--button-background-color);
}
.library .anime-name {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.library .anime-name h3 {
  font-size: 14px;
  color: var(--whiteColor);
}
.library .anime-name p {
  color: var(--mostPopularAnimeParagraph);
  font-size: 9px;
}
.month-day {
  font-size: 13px;
  color: var(--socialTitleText);
  margin-bottom: 3px;
}
.relese-year {
  font-size: 9px;
  color: var(--socialTitleText);
}
.imgFrame {
  width: 296px;
  height: 164px;
  border-radius: 44px;
  overflow: hidden;
}
footer {
  border-top: 2px solid var(--borderBackgroundColor);
  margin-top: 30px;
  max-width: 1615px;
  width: 100%;
}

.mainContainer {
  max-width: 1440px;
  height: auto;
  margin: 0 auto;
}
.MORENTcontainer {
  padding: 80px 60px 0px 60px;
  display: flex;
  justify-content: space-between;
}
.logo-desc {
  width: 292px;
  height: 48px;
  margin-right: 452px;
}
.description {
  margin-top: 16px;
  color: var(--whiteColor);
}
.footerList ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  gap: 20px;
}
.footerList li {
  color: var(--whiteColor);
}
.footerList a {
  text-decoration: none;
}
li:hover {
  color: var(--redButtonColor);
}
.footerList h4 {
  cursor: default;
  font-size: 20px;
}
.footerEND {
  display: flex;
  border-top: 1px solid var(--footerLineColor);
  margin: 45px auto;
  max-width: 1320px;
  width: 100%;
  padding-top: 50px;
  justify-content: space-between;
  color: var(--socialTitleText);
}
.footerEND a {
  text-decoration: none;
  color: var(--socialTitleText);
  display: flex;
}
.sideLogoInFooter {
  width: 80px;
  height: 80px;
}
footer h4 {
  color: var(--socialTitleText);
}
